/* Profile CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    overflow-x: hidden;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.feature-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    padding: 20px;
    font-size: 2.5rem;
}

.header {
    background-color: #0084ff;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #007BFF;
    background: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.header a:hover {
    background-color: #dc3545; 
    color: #fff;
    transition: background-color 0.3s ease;
}

.img img {
    height: 200px;
    width: 300px;
    margin-top: 100px;
    display: block;
    max-width: 200px;
    margin: 15px auto 15px auto;
    border-radius: 50%;
    border: 2px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 30px;
}

table th, table td {
    padding: 12px;
    text-align: left;
}

table th {
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    font-size: 15px;
}

table td {
    color: #555;
    font-size: 15px;
    font-weight: bold;
}

/* Feature Content Styling */
.topup-button {
    display: block;
    text-align: center;
    background-color: #28a745;
    color: #FFFFFF;
    padding: 10px 5px;
    width: 30%;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.topup-button:hover {
    background-color: #218838;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.chat-button {
    display: block;
    text-align: center;
    background-color: #3498db;
    color: #ffff;
    padding: 10px 5px;
    width: 30%;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.chat-button:hover {
    background-color: #2980b9;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}